@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Tilt+Neon&display=swap');
body {
    font-family: "Tilt Neon";
    margin: 200px;
    background:#bbd0f3 ;
    letter-spacing: 3px;
  }
  
  h1 {
    font-size: 30px;
    text-align: center;
    border:1px solid #1d2a1d;
	box-shadow:  2px 1px #000000;
    text-transform: uppercase;
    max-width: 400px;
    margin: 0 auto;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  form div {
    margin-bottom: 10px;
    font-size: 30px;
    
  }
  
  label {
    display: block;
    font-weight: bold;
    font-size: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="text"]:disabled,
  input[type="email"]:disabled,
  input[type="password"]:disabled,
  select:disabled {
    background-color: #eee;
    cursor: not-allowed;
  }
  
  button[type="submit"] {
    font-family: "Tilt Neon";
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #6e82bd;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
  }
  
  button[type="submit"]:hover {
    background-color: #6782b7;
    
  }
  
  #provinceInput {
    display: none;
  }
  
  #correspondenceAddress {
    display: none;
  }
  
